[data-rehype-pretty-code-fragment] {
  @apply relative;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: #595E44;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-brand-purple-darker bg-opacity-20;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md bg-brand-lime bg-opacity-10 p-1 border-l-2 border-brand-lime;
}

[data-rehype-pretty-code-title] {
  @apply mt-4 py-2 px-4 text-sm font-medium text-code-fg bg-code-bg border-b border-brand-lime;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: #595E44;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
} 