@import './app/styles/syntax.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }

  ::selection {
    @apply bg-brand-lime/100 text-zinc-800;
  }

  ::-moz-selection {
    @apply bg-brand-lime/100 text-zinc-800;
  }
}

@keyframes pageTransition {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-page-transition {
  animation: pageTransition 0.3s ease-out;
  animation-fill-mode: both;
  will-change: opacity, transform;
}