@import './app/styles/syntax.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }

  ::selection {
    @apply bg-brand-lime/100 text-zinc-800;
  }

  ::-moz-selection {
    @apply bg-brand-lime/100 text-zinc-800;
  }
}


@page {
  size: a4 portrait;
  margin: 10mm 0;
}

@page :first {
  padding: 0;
  margin: 0 0 10mm 0;
}